<!-- 
 Tabs that are displayed when the user logged in has an account of type farmer
-->
<ion-tabs ng-class="{'tabs-icon-top':true, 'tabs-positive':true, 'tabs-top':isAndroid}">

   <!-- Home Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="farmer-tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Transactions Tab -->
  <ion-tab title="Transactions" icon="icon ion-stats-bars" href="#/tab/transactions">
    <ion-nav-view name="farmer-tab-transactions"></ion-nav-view>
  </ion-tab>

  <!-- Notifications Tab -->
  <ion-tab title="Recent Activity" icon="icon ion-email" href="#/tab/activity">
    <ion-nav-view name="farmer-tab-activity"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Account Settings" icon="icon ion-settings" href="#/tab/account">
    <ion-nav-view name="farmer-tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>
