<div class="modal">
  <ion-header-bar>
    <div class="buttons">
    </div>
  </ion-header-bar>
 <ion-content class="padding">
  <div class="row form-heading">
      <div class="col">
            <h1 class="form-title" style="text-align: center;">Welcome</h1>   
             <h3 class="form-sub-title">Select An Account Type Below</h3>  
            </div>
          </div>     
    <form ng-submit="createProfile()" class="gem-form">
      <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Account Type
        </div>
        <select>
          <option>Farmer</option>
          <option selected>Buyer</option>
        </select>
      </label>
        </div>
      </div>
    </form>
  </ion-content>
</div>

