<ion-view title="Guest Session">

    <ion-content class="gem-splash_background">
  
		<div class="screen">
	<!--		<img src="http://lorempixel.com/1024/768/"/> -->
			<div class="item item-text-wrap">
				<h1 style="text-align: center">AgriBroka</h1>
                <h2 style="text-align: justify; ">Join Hundreds of Kenyan Farmers using Agribroka to sell their Farm Products. Create your own Farm Profile and start making money!</h2>
                
			</div>
		</div>

        <div ng-repeat="item in items" ng-if="$index%2==0" class="row">

            <div class="card col home">
                <a class="item item-text-wrap" href="{{items[$index].url}}">
                    <h1><i class="icon {{items[$index].icon}}"></i></h1>
                    <h2>{{items[$index].title}}</h2>
                    <span class="item-note">{{items[$index].note}}</span>
                </a>
            </div>

            <div class="card col home">
                <button class="item item-text-wrap" ng-click="{{items[$index + 1].url}}">
                    <h1><i class="icon {{items[$index + 1].icon}}"></i></h1>
                    <h2>{{items[$index + 1].title}}</h2>
                    <span class="item-note">{{items[$index + 1].note}}</span>
                </button>
            </div>

        </div>

    </ion-content>
</ion-view>