<ion-view title="Friend List">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header gem-ion-content padding">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
    <div class="uppercase label-title">32 friends</div>
    <div class="gem-friend-grid clearfix">
      <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-friend-list-profile-pic">
            <!-- Online Status Icon -->
            <div class="online-status"><i class="icon ion-record gem-color-default"></i> Offline</div>
            <!-- Small Text -->
            <p class="friend-name">Alison</p>
      </div>
      <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image-2.jpg" alt="" class="gem-friend-list-profile-pic">
            <!-- Online Status Icon -->
            <div class="online-status"><i class="icon ion-record gem-color-success"></i> Online</div>
            <!-- Small Text -->
            <p class="friend-name">Carl</p>
      </div>
      <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image-3.jpg" alt="" class="gem-friend-list-profile-pic">
            <!-- Online Status Icon -->
            <div class="online-status"><i class="icon ion-record gem-color-danger"></i> Busy</div>
            <!-- Small Text -->
            <p class="friend-name">Trish</p>
      </div>
      <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image-4.jpg" alt="" class="gem-friend-list-profile-pic">
            <!-- Online Status Icon -->
            <div class="online-status"><i class="icon ion-record gem-color-warning"></i> Idle</div>
            <!-- Small Text -->
            <p class="friend-name">Max</p>
      </div>
      <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image-5.jpg" alt="" class="gem-friend-list-profile-pic">
            <!-- Online Status Icon -->
            <div class="online-status"><i class="icon ion-record gem-color-success"></i> Online</div>
            <!-- Small Text -->
            <p class="friend-name">Alison Marylin</p>
      </div>
      <div class="friend-item">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image-6.jpg" alt="" class="gem-friend-list-profile-pic">
            <!-- Online Status Icon -->
            <div class="online-status"><i class="icon ion-record gem-color-success"></i> Online</div>
            <!-- Small Text -->
            <p class="friend-name">Alison Marylin</p>
      </div>
    </div>
    
    
  </ion-content>
</ion-view>
