<ion-view title="Social News">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  
  <ion-content class="has-header gem-ion-content">
    <div class="news-media">
      <img src="img/gemionic/news-image.jpg" alt="" class="fluid-image">
      <div class="media-social-stats stat-label">
          <span class="news-comment-summary">
            <i class="icon ion-heart"></i> 2 
            <i class="icon ion-chatbubble"></i> 3
          </span>
        </div>
    </div>
    <div class="news-item">
      <div class="news-thumb">
        <img src="img/gemionic/profile-image.jpg" alt="" class="img">
      </div>
      <div class="news-content">
        <h4>Roberta Simmons</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quo illum, soluta aut illo magni consequuntur iste rerum culpa voluptatum autem, officiis deserunt aliquid dolorum voluptatibus necessitatibus animi provident corporis rem. Rerum mollitia quibusdam doloremque ab quidem molestias nemo voluptate cumque odio atque, esse vel hic, repellendus maiores blanditiis debitis minus incidunt laudantium. Enim dolor incidunt hic dolore asperiores eligendi magni unde excepturi eos sunt in aliquam officiis, quam fugiat aspernatur. Repudiandae minima doloribus, nobis blanditiis modi soluta tenetur non, nostrum, iste saepe alias perspiciatis. Molestiae temporibus numquam ab, soluta similique, dicta a inventore, blanditiis, sapiente praesentium pariatur alias vitae?
        <div class="other-stats">
          <button class="button button-balanced button-borderless button-small"><i class="ion-heart"></i> 82</button>
          <button class="button button-stable button-outline button-small"><i class="ion-heart"></i> 82</button>
        </div>
        <div class="gem-tiny-text news-item-stats">
          <i class="icon ion-clock"></i> 2 days ago
          <span class="news-comment-summary">
            <i class="icon ion-heart"></i> 2 
            <i class="icon ion-chatbubble"></i> 3
          </span>
        </div>
      </div>
      <div class="news-more-action">
        <i class="icon ion-more"></i>
      </div>

    </div>

    <div class="news-media">
      <div class="image">
        <img src="img/gemionic/news-image.jpg" alt="" class="fluid-image">
        <div class="media-social-stats">
          <button class="button button-borderless button-small button-assertive">
            <i class="ion-heart"></i> 3440
          </button>
        </div>
      </div>
      <div class="news-media-info">
        <div class="thumb">
          <img src="img/gemionic/sqr-box.jpg" alt="" class="img">
        </div>
        <div class="text">
          <h3 class="title">Daft Punk</h3>
          <h5 class="subtitle">Discovery</h5>
        </div>
        <div class="media-action">
          <i class="icon ion-play"></i>
        </div>
      </div>
    </div>
    <div class="news-item">
      <div class="news-thumb">
        <img src="img/gemionic/profile-image.jpg" alt="" class="img">
      </div>
      <div class="news-content">
        <h4>Roberta Simmons</h4>
        <div class="gem-tiny-text news-item-stats">
          <i class="icon ion-clock"></i> 2 days ago 
          <span class="news-comment-summary">
            <i class="icon ion-heart"></i> 2 
            <i class="icon ion-chatbubble"></i> 3
          </span>
        </div>
      </div>
      <div class="news-more-action">
        <i class="icon ion-more"></i>
      </div>
    </div>
    <div class="news-media">
      <img src="img/gemionic/gmap.jpg" alt="" class="fluid-image">
      <div class="media-social-stats">
          <span class="news-comment-summary">
            <i class="icon ion-heart"></i> 2 
            <i class="icon ion-chatbubble"></i> 3
          </span>
        </div>
    </div>
  </ion-content>
</ion-view>
