<ion-view title="Send Email">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-block  button-positive button-action">
      Send/Post
    </button>
  </ion-nav-buttons>
  
  <ion-content class="has-header gem-ion-content send-email">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Subject</span>
        <input type="text" placeholder="Email title">
      </label>
    </div>
    <div class="gem-edit-section">
      <div class="gem-poster">
        <div class="label-title uppercase">Recepients:</div>
        <div class="row row-wrap">
          <div class="col col-20 text-center">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-circle fluid-image">
          </div>
          <div class="col col-20 text-center">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-circle fluid-image">
          </div>
          <div class="col col-20 text-center">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-circle fluid-image">
          </div>
          <div class="col col-20 text-center">  
            <!-- Round Image here. Fluid width and Colored ring stating statust -->
            <img src="img/gemionic/profile-image.jpg" alt="" class="gem-circle fluid-image">
          </div>
          <div class="col col-20 text-center">  
            <i class="ion-plus-circled add-repicient"></i>
          </div>
        </div>
        <div>
          <textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta aspernatur, quisquam asperiores quas cum eius quo facere. Officia excepturi sunt consequuntur, assumenda iste iusto non fugit aliquid illum voluptatum, quae!</textarea>
        </div>
      </div>
      <div class="row gem-poster-controls padding">
        <a href="#" class="col control"><i class="icon ion-email action"></i></a>
        <a href="#" class="col control"><i class="icon ion-android-location action"></i></a>
        <a href="#" class="col control"><i class="icon ion-ios7-cloud-upload action"></i></a>
        <a href="#" class="col control"><i class="icon ion-android-send action"></i></a>
      </div>
    </div>

  </ion-content>
</ion-view>
