<ion-view title="Invite Friend">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  
  <div class="tabs tabs-top">
    <a class="tab-item active">
      FACEBOOK
    </a>
    <a class="tab-item">
      EMAIL
    </a>
    <a class="tab-item">
      SMS
    </a>
  </div>

  <ion-content class="has-header has-tabs-top gem-ion-content">
  <div class="padding">
    <div class="item item-input-inset no-border">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Email">
      </label>
    </div>
  </div>
  <div class="list gem-list">
    <a class="item item-avatar item-button-right" href="#">
      <img src="img/gemionic/profile-image.jpg" class="gem-circle">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>
    <a class="item item-avatar item-button-right" href="#">
      <img src="img/gemionic/profile-image.jpg" class="gem-circle">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>
    <a class="item item-avatar item-button-right" href="#">
      <img src="img/gemionic/profile-image.jpg" class="gem-circle">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>
    <a class="item item-avatar item-button-right" href="#">
      <img src="img/gemionic/profile-image.jpg" class="gem-circle">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>
    <a class="item item-avatar item-button-right" href="#">
      <img src="img/gemionic/profile-image.jpg" class="gem-circle">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
      <div class="button button-small button-positive"><i class="icon ion-plus-circled"></i></div>
    </a>
  </div>
  </ion-content>

</ion-view>
