<ion-view title="Login-Fullscreen" hide-nav-bar="true">
  <ion-content class="gem-splash_background">
    <div class="gem-form text-center">
      <div class="gem-splash-logo">
        <h3 class="gem-white">AgriBroka</h3>
        <img src="img/gemionic/gem-logo.png" alt="Logo">
        <h3 class="gem-white">Every Farmers' E-middleman</h3>
      </div>
      <button class="button button-borderless button-rounded button-balanced" ng-click="login()">Login</button>
      <button class="button button-rounded button-positive" ng-controller="SignUpCtrl" ng-click="signUp()">Sign up for free</button>
      <a href="#/app/feed" target="_self" class="button button-outline button-rounded gem-white">Guest Session</a>
    </div>    
  </ion-content>
</ion-view>